{% include "header_simple.html" %}

<!-- [ content ] Start -->
<div class="authentication-wrapper authentication-1 px-4">
    <div class="authentication-inner py-5">

        <!-- [ Logo ] Start -->
        <div class="d-flex justify-content-center align-items-center">
			<h4>Admin Area</h4>
		</div>
        <!-- [ Logo ] End -->

		<div>
			<a href="/admin/umbrella_supplier">Create Umbrella Supplier</a><br>
			<a href="/matrix/1?year=2019&loop=1" target="_blank">Create Supplier Matrices for all suppliers</a><br>
			<a href="/comp_matrix/1/0?year=2019" target="_blank">Calculate competitors for all suppliers</a><br>
		</div>

    </div>
</div>
<!-- [ content ] End -->

{% include "footer_simple.html" %}