{% include "header_simple.html" %}

<!-- [ content ] Start -->
<div class="authentication-wrapper authentication-1 px-4">
    <div class="authentication-inner py-5">

        <!-- [ Logo ] Start -->
        <div class="d-flex justify-content-center align-items-center">
			<h4>Admin Area</h4>
		</div>
        <!-- [ Logo ] End -->

		<div>
			<a href="/admin/umbrella_supplier">Create Umbrella Supplier</a><br>
			<a href="/s_activity_create/0?loop=1&fy_filter=1" target="_blank">Create Supplier Activity JSON for all suppliers</a><br>
			<a href="/s_competition/2915/0/1?loop=1" target="_blank">Calculate competitors for a single supplier (eg. supplier_id 2915)</a><br>
			<a href="/admin/users" target="_blank">Manage Users</a><br>
		</div>

    </div>
</div>
<!-- [ content ] End -->

{% include "footer_simple.html" %}