{% include "header.html" %}


<!-- [ content ] Start -->
<div class="container-fluid flex-grow-1 container-p-y" style="width: 98% !important;">
    <h4 class="font-weight-bold py-3 mb-0">APS Staff</h4>
    <div class="text-muted small mt-0 mb-4 d-block breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#"><i class="feather icon-home"></i></a></li>
            <li class="breadcrumb-item active">APS Employees</li>
        </ol>
    </div>

    <!-- DataTable within card -->
    <div class="card">
        <div class="card-datatable table-responsive">
            <table id="staff_data_table" class="table table-hover card-table">
                <thead style="font-size:small">
                    <tr>
                    <th>Employee No.</th> 
					<th>First Name</th> 
					<th>Last Name</th> 
					<th>Classification</th>
					<th>Agency</th>
					<th>Position</th>
					<th>Last Update</th>
                    </tr>
                </thead>
            </table>
		</div>
		<div class="card-footer text-muted" id="data_source">
		</div>
	</div>

</div>
<!-- [ content ] End -->




{% include "footer.html" %}
<script>
$(document).ready(function() {
	//BuildTable(table_name, timeout(minutes), rows(array), _orderby(column number))
	BuildTable("staff_data_table", 10, "staff_data", ["link", "first_name", "last_name", "classification", "agency", "position_details", "publish_date"], 6, true);
});
</script>