{% include "header.html" %}


<!-- [ content ] Start -->
<div class="container-fluid flex-grow-1 container-p-y" style="width: 98% !important;">
    <h4 class="font-weight-bold py-3 mb-0">Awarded Contracts</h4>
    <div class="text-muted small mt-0 mb-4 d-block breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#"><i class="feather icon-home"></i></a></li>
            <li class="breadcrumb-item active">Contracts</li>
        </ol>
    </div>

    <!-- DataTable within card -->
    <div class="card">
		<div class="card-header with-elements pb-0">
			<h6 class="card-header-title mb-0">Awarded Contracts</h6> 
			<div class="card-header-elements ml-auto p-0">
				<ul class="nav nav-tabs">
					<li class="nav-item">
						<a class="nav-link show active" href="{{ data.pagination['next_url'] }}" class="showload">Filtered</a>
					</li>
					<li class="nav-item">
						<a class="nav-link show" href="{{ data.pagination['prev_url'] }}" class="showload">All</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="card-header with-elements pb-0">
			<h6 class="card-header-title mb-0">{{data.data['oldest_contract']}} - {{data.data['newest_contract']}}</h6> 
			<div class="card-header-elements ml-auto p-0">
				<ul class="nav nav-tabs">
					{% if data.pagination['next_url'] %}
					<li class="nav-item">
						<a class="nav-link show" href="{{ data.pagination['next_url'] }}" class="showload"><small>Show Previous Week</small></a>
					</li>
					{% endif %}
					{% if (data.pagination['prev_url']) and (data.pagination['current']>0) %}
					<li class="nav-item">
						<a class="nav-link show" href="{{ data.pagination['prev_url'] }}" class="showload"><small>Show Next Week</small></a>
					</li>
					{% endif %}
				</ul>
			</div>
		</div>
		
        <div class="card-body">
            <div class="card-datatable table-responsive">
                <table id="myTable" class="table table-hover card-table">
                    <thead style="font-size:small">
                        <tr>
                            <th>Title</th>
                            <th>Supplier</th>
                            <th>Category</th>
                            <th>Agency</th>
                            <th>Division</th>
                            <th>Branch</th>
                            <th>Value</th>
                            <th>Published</th>
                        </tr>
                    </thead>
                    <tbody style="font-size:small">
                        {% for contract in data.results %}
                        <tr>
                            <td><a href="/contract/{{ contract.id }}" class="showload">{{ contract.title }}</a></td>
                            <td>{{ contract.supplier.name }}</td>
                            <td>{{ contract.category_temp_title }}</td>
                            <td>{{ contract.agency.title }}</td>
                            <td>{{ contract.division.title }}</td>
                            <td>{{ contract.branch.title }}</td>
                            <td>${{ contract.contract_value }}</td>
                            <td nowrap>{{ contract.publish_date }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</div>
<!-- [ content ] End -->


{% include "footer.html" %}

<script>
    $(document).ready(function() {
        $('#myTable').DataTable({
            "scrollX": false,
            "order": [
                [0, "desc"]
            ],
        }, );
    });
</script>