



<div class="container-fluid flex-grow-1 container-p-y">
    <small>Data provided under <a href="http://creativecommons.org/licenses/by-nd/3.0/au/" target="blank" class="card-link">Creative Commons Attribution 3.0 Australia</a> (CC BY 3.0 AU)<br>Data sources provided under (CC BY 3.0 AU) include; AusTender, Public Services Gazette, Hansard Papers. <br>Data is presented without remix or transformation, and does not represent a derivative.</small>
</div>

<!-- [ Layout footer ] Start -->
<nav class="layout-footer footer bg-white">
    <div class="container-fluid d-flex flex-wrap justify-content-between text-center container-p-x pb-3">
        <div class="pt-3">
            <span class="footer-text font-weight-semibold">&copy; GovConnect</span>
        </div>
        <div>
            <a href="javascript:" class="footer-link pt-3">About Us</a>
            <a href="javascript:" class="footer-link pt-3 ml-4">Help</a>
            <a href="javascript:" class="footer-link pt-3 ml-4">Contact</a>
            <a href="javascript:" class="footer-link pt-3 ml-4">Terms &amp; Conditions</a>
        </div>
    </div>
</nav>
<!-- [ Layout footer ] End -->
</div>
<!-- [ Layout content ] Start -->
</div>
<!-- [ Layout container ] End -->
</div>
<!-- Overlay -->
<div class="layout-overlay layout-sidenav-toggle"></div>
</div>
<!-- [ Layout wrapper] End -->

<!-- Core scripts -->
<script src="{{ url_for('static',filename='js/pace.js') }}"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
<script src="{{ url_for('static',filename='libs/popper/popper.js') }}"></script>
<script src="{{ url_for('static',filename='js/bootstrap.js') }}"></script>
<script src="{{ url_for('static',filename='js/sidenav.js') }}"></script>
<script src="{{ url_for('static',filename='js/layout-helpers.js') }}"></script>
<script src="{{ url_for('static',filename='js/material-ripple.js') }}"></script>

<!-- Libs -->
<script src="{{ url_for('static',filename='libs/perfect-scrollbar/perfect-scrollbar.js') }}"></script>
<script src="{{ url_for('static',filename='libs/eve/eve.js') }}"></script>

<script src="{{ url_for('static',filename='libs/chart-am4/core.js') }}"></script>
<script src="{{ url_for('static',filename='libs/chart-am4/charts.js') }}"></script>
<script src="{{ url_for('static',filename='libs/chart-am4/animated.js') }}"></script>
<script src="{{ url_for('static',filename='libs/bootstrap-select/bootstrap-select.js') }}"></script>

 
<!-- Demo -->
<script src="{{ url_for('static',filename='js/demo.js') }}"></script>
<script src="{{ url_for('static',filename='js/analytics.js') }}"></script>


<script src="{{ url_for('static',filename='libs/datatables/datatables.js') }}"></script>
<script src="{{ url_for('static',filename='js/pages/tables_datatables.js') }}"></script>

<!-- jQuery Cookie -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

<!-- Datatable Ajax/Cache -->
<script src="{{ url_for('static',filename='js/ajax_datatable.js') }}"></script>

<script>
    $(document).ready(function() {

        $(".showload").on('click', function(event) {
            $("div#loading_container").hide(); // hide the main content div
            $("div#loading_icon").show(); // hide the main content div
		})
	});
</script>




</body>

</html>