<!-- Core scripts -->
<script src="{{ url_for('static',filename='js/pace.js') }}"></script>
<script src="{{ url_for('static',filename='js/jquery-3.3.1.min.js') }}"></script>
<script src="{{ url_for('static',filename='libs/popper/popper.js') }}"></script>
<script src="{{ url_for('static',filename='js/bootstrap.js') }}"></script>
<script src="{{ url_for('static',filename='js/sidenav.js') }}"></script>
<script src="{{ url_for('static',filename='js/layout-helpers.js') }}"></script>
<script src="{{ url_for('static',filename='js/material-ripple.js') }}"></script>

<!-- Libs -->
<script src="{{ url_for('static',filename='libs/perfect-scrollbar/perfect-scrollbar.js') }}"></script>

<!-- Demo -->
<script src="{{ url_for('static',filename='js/demo.js') }}"></script>
<script src="{{ url_for('static',filename='js/analytics.js') }}"></script>
</body>

</html>