<!DOCTYPE html>

<html lang="en" class="material-style layout-fixed">

<head>
    <title>Government Connect</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="">
    <meta name="author" content="" />
    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='img/favicon.ico') }}">

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

    <!-- Icon fonts -->
    <link rel="stylesheet" href="{{ url_for('static',filename='fonts/fontawesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='fonts/ionicons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='fonts/linearicons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='fonts/open-iconic.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='fonts/pe-icon-7-stroke.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='fonts/feather.css') }}">

    <!-- Core stylesheets -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap-material.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/shreerang-material.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/uikit.css') }}">

    <!-- Libs -->
    <link rel="stylesheet" href="{{ url_for('static',filename='libs/perfect-scrollbar/perfect-scrollbar.css') }}">
    <!-- Page -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/pages/authentication.css') }}">

</head>

<body>
    <!-- [ Preloader ] Start -->
    <div class="page-loader">
        <div class="bg-primary"></div>
    </div>
    <!-- [ Preloader ] End -->