{% include "header.html" %}

<!-- [ content ] Start -->


<div class="container-fluid flex-grow-1 container-p-y">
    <h4 class="font-weight-bold py-3 mb-0">{{ data.title }}</h4>
    <div class="text-muted small mt-0 mb-4 d-block breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#"><i class="feather icon-home"></i></a></li>
            <li class="breadcrumb-item">Opportunities</li>
            <li class="breadcrumb-item active">{{data.atm_id.upper()}}</li>
        </ol>
    </div>

    <!-- Header -->
    <div class="card mb-4">
        <div class="row no-gutters row-bordered row-border-light">
            <div class="col-md-9">
                <div class="media-body px-3 py-4">
                    <div class="d-flex justify-content-between align-items-center mb-1">
                        <div>
                            <strong class="text-primary text-large"><a href="/agency/{{ data.agency.id }}" class="showload">{{ data.agency.display_title }}</a></strong><br><small> {% if data.unspsc_segment!=None %} <a href="/unspsc/{{ data.unspsc_segment.id }}" class="showload">{{ data.unspsc_segment.title }}</a>                            {% endif %} {% if data.unspsc_family!=None %} > <a href="/unspsc/{{ data.unspsc_family.id }}" class="showload">{{ data.unspsc_family.title }}</a> {% endif %} {% if data.unspsc_class!=None %} > <a href="/unspsc/{{ data.unspsc_class.id }}"
                                class="showload">{{ data.unspsc_class.title }}</a> {% endif %} {% if data.unspsc_commodity!=None %} > <a href="/unspsc/{{ data.unspsc_commodity.id }}" class="showload">{{ data.unspsc_commodity.title }}</a> {% endif %}</small>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-3">
					<div class=" px-3 py-4">
						<strong class="text-success text-big">Open</strong>
						<div class="text-muted small">Published {{data.published_date_human}}<br>Closes {{data.close_date_human}}</div>
					</div>
            </div>
        </div>
    </div>
    <!-- / Header -->

    <div class="row">
        <div class="col mb-4">
            <!-- Description -->
            <div class="card mb-4">
                <h6 class="card-header">Description</h6>
                <div class="card-body">
                    <p>{{ data.description.strip()|safe }}</p>
                </div>
            </div>
			<!-- / Description -->

		</div>
		


        <div class="col-md-4 col-xl-4">
            <!-- Project details -->
            <div class="card mb-4">
                <h6 class="card-header">Details</h6>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="text-muted">ID</div>
                        <div>
                            {{ data.atm_id.upper() }}
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="text-muted">Published</div>
                        <div>
                            {{data.publish_date}}
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="text-muted">Close date</div>
                        <div>{{data.close_date}}</div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="text-muted">Panel</div>
                        <div>{{ data.panel_arrangement }}</div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="text-muted">Multi Stage</div>
                        <div>{{ data.multi_stage }}</div>
                    </li>
                </ul>
            </div>
			<!-- / Project details -->

        </div>
    </div>

	<div class="row">
		<div class="col-xl-12 col-md-12">
			<div class="card d-flex w-100 mb-4">
					<h4 class="card-header">Insights</h4>
				<div class="row no-gutters row-bordered row-border-light h-100">
					<div class="d-flex col-sm-6 align-items-center">
						<div class="card-body media align-items-center text-dark">
							<i class="lnr lnr-diamond display-4 d-block text-primary"></i>
							<span class="media-body d-block ml-3">
								<span class="text-big mr-1 text-primary">${{ contract_data.avg_value }}</span>
							<br>
							<small class="text-muted">Average contract value in this category, in {{ data.agency.display_title }}.</small>
							</span>
						</div>
					</div>
					<div class="d-flex col-sm-6 align-items-center">
						<div class="card-body media align-items-center text-dark">
							<i class="lnr lnr-calendar-full display-4 d-block text-warning"></i>
							<span class="media-body d-block ml-3">
								<span class="text-big"><span class="mr-1 text-warning">{{ contract_data.avg_contracts_month }}</span>Contracts</span>
							<br>
							<small class="text-muted">Awarded each month in this category. 70% via Limited Tender.</small>
							</span>
						</div>
					</div>
					<div class="d-flex col-sm-6 align-items-center">
						<div class="card-body media align-items-center text-dark">
							<i class="lnr lnr-apartment display-4 d-block text-danger"></i>
							<span class="media-body d-block ml-3">
								<span class="text-big"><span class="mr-1 text-danger">{{ contract_data.no_suppliers }}</span> Suppliers</span>
							<br>
							<small class="text-muted">Provided services in this category to {{ data.agency.display_title }} over the previous two years.</small>
							</span>
						</div>
					</div>
					<div class="d-flex col-sm-6 align-items-center">
						<div class="card-body media align-items-center text-dark">
							<i class="lnr lnr-flag display-4 d-block text-success"></i>
							<span class="media-body d-block ml-3">
								<span class="text-big"><span class="mr-1 text-success">{{ contract_data.supplier_data[0]['name'] }}</span></span>
							<br>
							<small class="text-muted">Is the top supplier in this category, for the second year running.</small>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



	<div class="row">
		<div class="col mb-4">
			<!-- Posts -->			
			<div class="card mb-4">
				<div class="card-header with-elements pb-0">
					<h6 class="card-header-title mb-0">Top suppliers in the {{ data.category_display['title']}} category.</h6>
				</div>
				<div class="card-body">
					<div id="chartdiv" class="chartjs-demo" style="height: 400px; position: relative;"></div>
				</div>
			</div>


			<div class="card mb-4">
					<div class="card-header with-elements pb-0">
						<h6 class="card-header-title mb-0">Contracts in {{ data.agency.display_title }} in the XXX category. </h6> 
						<div class="card-header-elements ml-auto p-0">
							<ul class="nav nav-tabs">
								<li class="nav-item">
									<a class="nav-link show active" data-toggle="tab" class="showload" id="ongoing">Ongoing Contracts</a>
								</li>
								<li class="nav-item">
									<a class="nav-link show" data-toggle="tab" class="showload" id="ongoing">Completed Contracts</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="card-body">
						<div class="card-datatable table-responsive" style="margin-top: -25px">
							<table id="myTable" class="table table-hover card-table">
								<thead style="font-size:small">
								<tr>
									<th></th>
									<th>Title</th>
									<th>Agency</th>
									<th>Division</th>
									<th>Supplier</th>
									<th>Value</th>
									<th>Contract Start</th>
									<th>Contract End</th>                            
								</tr>
								</thead>
								<tbody style="font-size:small">
									{% for contract in contract_data.contracts: %}
									<tr data-year="{{ contract.year }}" data-ongoing="{{ contract.ongoing }}">
										<td>{% if (contract.contract_ending_soon==True and contract.contract_ongoing==True) %}<div class="badge badge-danger">Ending soon</div>{% endif %}</td>
										<td><a href="/contract/{{ contract.contract_id }}">{{ contract.title }}</a></td>
										<td>{{ contract.agency }}</td>
										<td>{% if contract.division!="nan" %}{{ contract.division }}{% endif %}</td>
										<td>{{ contract.supplier_name }}</td>
										<td>{{ contract.contract_value }}</td>
										<td>{{ contract.contract_start }}</td>
										<td>{{ contract.contract_end }}</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
	
					</div>
	
				</div>


			
		</div>
	</div>	
	{{ data.category_display}}

	<br><br>

	{{ contract_data }}




		
	<!-- HTML -->

</div>

<!-- [ content ] End -->

{% include "footer.html" %}

<script>
    $(document).ready(function() {
        $('#myTable').DataTable({
            "scrollX": false,
            "order": [
                [6, "desc"]
            ],
        }, );
    });
</script>





<!-- Resources -->
<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>

<!-- Chart code -->
<script>
am4core.ready(function() {

// Themes begin
am4core.useTheme(am4themes_animated);
// Themes end

// Create chart instance
var chart = am4core.create("chartdiv", am4charts.PieChart);

// Let's cut a hole in our Pie chart the size of 40% the radius
chart.innerRadius = am4core.percent(30);

// Add data
chart.data = {{ contract_data.supplier_pie_chart|safe }}



// Add and configure Series
var pieSeries = chart.series.push(new am4charts.PieSeries());
pieSeries.dataFields.value = "no_contracts";
pieSeries.dataFields.category = "name";
pieSeries.slices.template.stroke = am4core.color("#fff");
pieSeries.slices.template.strokeWidth = 2;
pieSeries.slices.template.strokeOpacity = 1;
pieSeries.slices.template.tooltipText = "{category}: {value.value} Contracts";

// Add a legend
//chart.legend = new am4charts.Legend();
//chart.legend.position = "right";
//chart.legend.fontSize = 10
//chart.legend.paddingBottom= "0px"
//chart.legend.scale= 0.8

// Disabling labels and ticks on inner circle
pieSeries.labels.template.disabled = true;
pieSeries.ticks.template.disabled = true;


// Disable sliding out of slices
pieSeries.slices.template.states.getKey("hover").properties.shiftRadius = 0;
pieSeries.slices.template.states.getKey("hover").properties.scale = 0.9;

// Add second series
var pieSeries2 = chart.series.push(new am4charts.PieSeries());
pieSeries2.dataFields.value = "earnings";
pieSeries2.dataFields.category = "name";
pieSeries2.slices.template.stroke = am4core.color("#fff");
pieSeries2.slices.template.strokeWidth = 2;
pieSeries2.slices.template.strokeOpacity = 1;
pieSeries2.slices.template.states.getKey("hover").properties.shiftRadius = 0;
pieSeries2.slices.template.states.getKey("hover").properties.scale = 1.1;
pieSeries2.slices.template.tooltipText = "{category}: ${value.value} Total Revenue";
pieSeries2.labels.template.text = "{category}: ${value.value}";


}); // end am4core.ready()
</script>

