{% include "header.html" %}


<!-- [ content ] Start -->
<div class="container-fluid flex-grow-1 container-p-y" style="width: 98% !important;">
    <h4 class="font-weight-bold py-3 mb-0">Opportunities</h4>
    <div class="text-muted small mt-0 mb-4 d-block breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#"><i class="feather icon-home"></i></a></li>
            <li class="breadcrumb-item active">Opportunities</li>
        </ol>
    </div>

    <!-- DataTable within card -->
    <div class="card">
        <div class="card-header with-elements">
            <div class="card-header-elements">
                <button type="button" class="btn btn-xs btn-outline-primary active">Filtered</button>
                <button type="button" class="btn btn-xs btn-outline-primary">Archived</button>
                <button type="button" class="btn btn-xs btn-outline-primary">All</button>
            </div>
        </div>
        <div class="card-datatable table-responsive">

            <table id="myTable" class="table table-hover card-table" style="">
                <thead style="font-size:small">
                    <tr>
                        <th></th>
                        <th>Agency</th>
                        <th>Title</th>
                        <th>Type</th>
                        <th>Category</th>
                        <th>Close Date</th>
                        <th>Published</th>
                    </tr>
                </thead>
                <tbody style="font-size:small">
                    {% for opportunity in data.results %}
                    <tr>
                        <td><a href="javascript:;" onclick="myFunction('{{ opportunity.title }}', '{{ opportunity.agency.title }}', '{{ opportunity.categories[0].title }}', '{{ opportunity.categories[0].id }}');return false;"><i class="fa fa-ellipsis-h fa-lg"></i></a></td>
                        <td>{{ opportunity.agency.title }}</td>
                        <td><a href="/op/{{ opportunity.id }}" class="showload">{{ opportunity.title }}</a></td>
                        <td nowrap>{{ opportunity.atm_type }}</td>
                        <td>{{ opportunity.category_display['title'] }}</td>
                        <td nowrap><small>{{opportunity.close_date}}<br>({{opportunity.close_date_human}})</small></td>
                        <td nowrap><small>{{opportunity.publish_date}}</small></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>
<!-- [ content ] End -->




{% include "footer.html" %}

<script>
    $(document).ready(function() {
        $('#myTable').DataTable({
            "scrollX": false,
            "order": [
                [6, "desc"]
            ],
        }, );
    });
</script>