{% include "header.html" %}

<!-- [ content ] Start -->


<div class="container-fluid flex-grow-1 container-p-y">
    <h4 class="font-weight-bold py-3 mb-0">{{ data.title }}</h4>
    <div class="text-muted small mt-0 mb-4 d-block breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#"><i class="feather icon-home"></i></a></li>
            <li class="breadcrumb-item">Opportunities</li>
            <li class="breadcrumb-item active">{{data.atm_id.upper()}}</li>
        </ol>
    </div>

    <!-- Header -->
    <div class="card mb-4">
        <div class="row no-gutters row-bordered row-border-light">
            <div class="col-md-9">
                <div class="media-body px-3 py-4">
                    <div class="d-flex justify-content-between align-items-center mb-1">
                        <div>
                            <strong class="text-primary text-large"><a href="/agency/{{ data.agency.id }}" class="showload">{{ data.agency.title }}</a></strong><br><small> {% if data.unspsc_segment!=None %} <a href="/unspsc/{{ data.unspsc_segment.id }}" class="showload">{{ data.unspsc_segment.title }}</a>                            {% endif %} {% if data.unspsc_family!=None %} > <a href="/unspsc/{{ data.unspsc_family.id }}" class="showload">{{ data.unspsc_family.title }}</a> {% endif %} {% if data.unspsc_class!=None %} > <a href="/unspsc/{{ data.unspsc_class.id }}"
                                class="showload">{{ data.unspsc_class.title }}</a> {% endif %} {% if data.unspsc_commodity!=None %} > <a href="/unspsc/{{ data.unspsc_commodity.id }}" class="showload">{{ data.unspsc_commodity.title }}</a> {% endif %}</small>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-3">
                <div class=" px-3 py-4">
                    <strong class="text-success text-big">Open</strong>
                    <div class="text-muted small">Published {{data.published_date_human}}<br>Closes {{data.close_date_human}}</div>

                </div>
            </div>
        </div>
    </div>
    <!-- / Header -->

    <div class="row">
        <div class="col">

            <!-- Description -->
            <div class="card mb-4">
                <h6 class="card-header">Description</h6>
                <div class="card-body">
                    <p>{{ data.description.strip()|safe }}</p>
                </div>
            </div>
            <!-- / Description -->

            <!-- Attached files -->
            <div class="card mb-4">
                <div class="card-body p-3">
                    <div class="card-title with-elements">
                        <h5 class="m-0 mr-2">Attached Files</h5>
                        <div class="card-title-elements">
                        </div>
                        <div class="card-title-elements ml-md-auto">
                            <a target="_blank" href="https://www.tenders.gov.au{{ data.document_link }}">Show original documents</a>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-md-6 col-lg-12 col-xl-6 p-1">
                            <div class="project-attachment ui-bordered p-2">
                                <div class="project-attachment-file display-4">
                                    <i class="far fa-file-pdf"></i>
                                </div>
                                <div class="media-body ml-3">
                                    <strong class="project-attachment-filename">XXX.pdf</strong>
                                    <div class="text-muted small">156KB</div>
                                    <div>
                                        <a href="javascript:void(0)">View</a> &nbsp;
                                        <a href="javascript:void(0)">Download</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-12 col-xl-6 p-1">
                            <div class="project-attachment ui-bordered p-2">
                                <div class="project-attachment-file display-4">
                                    <i class="far fa-file-archive"></i>
                                </div>
                                <div class="media-body ml-3">
                                    <strong class="project-attachment-filename">XXX.zip</strong>
                                    <div class="text-muted small">1.35MB</div>
                                    <div>
                                        <a href="javascript:void(0)">Download</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- / Attached files -->


        </div>
        <div class="col-md-4 col-xl-4">

            <!-- Project details -->
            <div class="card mb-4">
                <h6 class="card-header">Details</h6>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="text-muted">ID</div>
                        <div>
                            {{ data.atm_id.upper() }}
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="text-muted">Published</div>
                        <div>
                            {{data.publish_date}}
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="text-muted">Close date</div>
                        <div>{{data.close_date}}</div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="text-muted">Panel</div>
                        <div>{{ data.panel_arrangement }}</div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="text-muted">Multi Stage</div>
                        <div>{{ data.multi_stage }}</div>
                    </li>
                </ul>
            </div>
            <!-- / Project details -->

        </div>
    </div>



</div>

<!-- [ content ] End -->

{% include "footer.html" %}

<script>
    $(document).ready(function() {
        $('#myTable').DataTable({
            "scrollX": false,
            "order": [
                [6, "desc"]
            ],
        }, );
    });
</script>