{% include "header.html" %}


<!-- [ content ] Start -->
<div class="container-fluid flex-grow-1 container-p-y" style="width: 98% !important;">
    <h4 class="font-weight-bold py-3 mb-0">Opportunities</h4>
    <div class="text-muted small mt-0 mb-4 d-block breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#"><i class="feather icon-home"></i></a></li>
            <li class="breadcrumb-item active">Opportunities</li>
        </ol>
    </div>

    <!-- DataTable within card -->
    <div class="card">
		<div class="card-header with-elements pb-0">
			<h6 class="card-header-title mb-0">Open Opportunities</h6>
			<div class="card-header-elements ml-auto p-0">
				<ul class="nav nav-tabs">
					<li class="nav-item">
						<a class="nav-link show active" data-toggle="tab" href="#inc-cr">Filtered</a>
					</li>
					<li class="nav-item">
						<a class="nav-link show" data-toggle="tab" href="#inc-pr1">All</a>
					</li>
					<li class="nav-item">
						<a class="nav-link show" data-toggle="tab" href="#inc-pr2">Archive</a>
					</li>
				</ul>
			</div>
		</div>
        <div class="card-datatable table-responsive">

            <table id="myTable" class="table table-hover card-table" style="">
                <thead style="font-size:small">
                    <tr>
                        <th></th>
                        <th>Agency</th>
                        <th>Title</th>
                        <th>Type</th>
                        <th>Category</th>
                        <th>Close Date</th>
                        <th>Published</th>
                    </tr>
                </thead>
                <tbody style="font-size:small">
                    {% for opportunity in data.results %}
                    <tr>
                        <td><a href="javascript:;" onclick="myFunction('{{ opportunity.title }}', '{{ opportunity.agency.title }}', '{{ opportunity.categories[0].title }}', '{{ opportunity.categories[0].id }}');return false;"><i class="fa fa-ellipsis-h fa-lg"></i></a></td>
                        <td>{{ opportunity.agency.display_title }}</td>
                        <td><a href="/op/{{ opportunity.id }}" class="showload">{{ opportunity.title }}</a></td>
                        <td nowrap>{{ opportunity.atm_type }}</td>
                        <td>{{ opportunity.category_display['title'] }}</td>
                        <td nowrap><small>{{opportunity.close_date}}<br>({{opportunity.close_date_human}})</small></td>
                        <td nowrap><small>{{opportunity.publish_date}}</small></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
	</div>
	


	<div class="card-body">
		<!-- Modal template -->
		<div class="modal modal-top fade" id="modals-top">
			<div class="modal-dialog">
				<form class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Filter
							<span class="font-weight-light">Creation</span>
							<br>
							<small class="text-muted">Create a personal filter for which Opportunities are dispalyed by default.</small>
						</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">×</button>
					</div>
					<div class="modal-body">
						<p><a href="" id="modal_category_link">Don't show me opportunities in the <b><span id="modal_category">Something</span></b> category anymore.</a></p>
						<p><a href="">Don't show me opportunities from the <span id="modal_agency">Agency</span> anymore.</a></p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					</div>
				</form>
			</div>
		</div>
	</div>


</div>
<!-- [ content ] End -->




{% include "footer.html" %}
<script src="assets/js/pages/ui_modals.js"></script>
<script>
    $(document).ready(function() {
        $('#myTable').DataTable({
            "scrollX": false,
            "order": [
                [6, "desc"]
            ],
        }, );
    });
</script>


<script>

	//data-toggle="modal" data-target="#modals-top"
	function myFunction(title, agency, category, category_id){
		$('#modal_category_link').attr("href", "/filter/unspsc/add?unspsc_id="+category_id);
		$('#modal_category').html(category);
		$('#modals-top').modal('show');
	}

</script>