{% include "header.html" %}

<!-- [ content ] Start -->


<div class="container-fluid flex-grow-1 container-p-y">
    <h4 class="font-weight-bold py-3 mb-0">{{ data.title }}</h4>
    <div class="text-muted small mt-0 mb-4 d-block breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#"><i class="feather icon-home"></i></a></li>
            <li class="breadcrumb-item">Opportunities</li>
            <li class="breadcrumb-item active">{{data.atm_id.upper()}}</li>
        </ol>
    </div>

    <!-- Header -->
    <div class="card mb-4">
        <div class="row no-gutters row-bordered row-border-light">
            <div class="col-md-9">
                <div class="media-body px-3 py-4">
                    <div class="d-flex justify-content-between align-items-center mb-1">
                        <div>
                            <strong class="text-primary text-large"><a href="/agency/{{ data.agency.id }}" class="showload">{{ data.agency.display_title }}</a></strong><br><small> {% if data.unspsc_segment!=None %} <a href="/unspsc/{{ data.unspsc_segment.id }}" class="showload">{{ data.unspsc_segment.title }}</a>                            {% endif %} {% if data.unspsc_family!=None %} > <a href="/unspsc/{{ data.unspsc_family.id }}" class="showload">{{ data.unspsc_family.title }}</a> {% endif %} {% if data.unspsc_class!=None %} > <a href="/unspsc/{{ data.unspsc_class.id }}"
                                class="showload">{{ data.unspsc_class.title }}</a> {% endif %} {% if data.unspsc_commodity!=None %} > <a href="/unspsc/{{ data.unspsc_commodity.id }}" class="showload">{{ data.unspsc_commodity.title }}</a> {% endif %}</small>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-3">
					<div class=" px-3 py-4">
						<strong class="text-success text-big">Open</strong>
						<div class="text-muted small">Published {{data.published_date_human}}<br>Closes {{data.close_date_human}}</div>
					</div>
            </div>
        </div>
    </div>
    <!-- / Header -->

    <div class="row">
        <div class="col mb-4">
            <!-- Description -->
            <div class="card mb-4">
                <h6 class="card-header">Description</h6>
                <div class="card-body">
                    <p>{{ data.description.strip()|safe }}</p>
                </div>
            </div>
			<!-- / Description -->

		</div>
		


        <div class="col-md-4 col-xl-4">
            <!-- Project details -->
            <div class="card mb-4">
                <h6 class="card-header">Details</h6>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="text-muted">ID</div>
                        <div>
                            {{ data.atm_id.upper() }}
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="text-muted">Published</div>
                        <div>
                            {{data.publish_date}}
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="text-muted">Close date</div>
                        <div>{{data.close_date}}</div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="text-muted">Panel</div>
                        <div>{{ data.panel_arrangement }}</div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="text-muted">Multi Stage</div>
                        <div>{{ data.multi_stage }}</div>
                    </li>
                </ul>
            </div>
			<!-- / Project details -->

        </div>
    </div>


	{% if contract_data.family['contracts']|length > 0 %}
	<div class="row">
		<div class="col-xl-12 col-md-12">

			<div class="card-header-elements ml-auto p-0 mb-2">
				<ul class="nav nav-tabs">
					{% if contract_data.class is defined   %} 
					<li class="nav-item">
						<a class="nav-link show active" data-toggle="tab" class="showload" id="insight_broad_category_button">Broad Service Cateogry</a>
					</li>
					
					<li class="nav-item">
						<a class="nav-link show" data-toggle="tab" class="showload" id="insight_general_category_button">General Service Cateogry</a>
					</li>
					{% endif %}
					{% if contract_data.commodity is defined   %} 
					<li class="nav-item">
						<a class="nav-link show" data-toggle="tab" class="showload" id="insight_specific_category_button">Specific Service Cateogry</a>
					</li>
					{% endif %}
				</ul>
			</div>


			<div class="card-header-elements ml-auto p-0 mb-2">
				<ul class="nav nav-tabs">
					<li class="nav-item">
						<a class="nav-link show active" data-toggle="tab" class="showload" id="ongoing">{{ data.agency.display_title }}</a>
					</li>
					<li class="nav-item">
						<a class="nav-link show" data-toggle="tab" class="showload" id="ongoing">All Agencies</a>
					</li>
				</ul>
			</div>

			{% if contract_data['family']['category_nochange']==True: %}
			<div class="alert alert-warning alert-dismissible fade show">
				<button type="button" class="close" data-dismiss="alert">×</button>
				There is no difference between the data available for the Broad or General Service Categories.<br>Indicating <b>all</b> contracts issued in the '{{ data.unspsc_family.title }}' category were for '{{ data.unspsc_class.title }}'. 
			</div>
			{% endif %}

			{% if contract_data.class is defined %}
			{% if contract_data['class']['category_nochange']==True: %}
			<div class="alert alert-warning alert-dismissible fade show">
				<button type="button" class="close" data-dismiss="alert">×</button>
				There is no difference between the data available for the General or Specific Service Categories.<br>Indicating <b>all</b> contracts issued in the '{{ data.unspsc_family.title }} > {{ data.unspsc_class.title }}' category were for '{{ data.unspsc_commodity.title }}'. 
			</div>
			{% endif %}
			{% endif %}

			<div class="card d-flex w-100 mb-4">
				<div class="card-header">
					<h4>Insights</h4>
					<div class="card-subtitle text-muted mb-0 insight_category_name">{{ contract_data.family['unspsc']['title'] }} category</div>
				</div>
				
				<div class="row no-gutters row-bordered row-border-light h-100">
					<div class="d-flex col-sm-6 align-items-center">
						<div class="card-body media align-items-center text-dark">
							<i class="lnr lnr-diamond display-4 d-block text-primary"></i>
							<span class="media-body d-block ml-3">
								<span class="text-big mr-1 text-primary" id="insight_avg_value">${{ contract_data.family['avg_value'] }}</span>
							<br>
							<small class="text-muted">Average contract value in this category, in {{ data.agency.display_title }}.</small>
							</span>
						</div>
					</div>
					<div class="d-flex col-sm-6 align-items-center">
						<div class="card-body media align-items-center text-dark">
							<i class="lnr lnr-calendar-full display-4 d-block text-warning"></i>
							<span class="media-body d-block ml-3">
								<span class="text-big"><span class="mr-1 text-warning" id="insight_avg_contracts">{{ contract_data.family['avg_contracts_month'] }}</span>Contracts</span>
							<br>
							<small class="text-muted">Awarded each month in this category. XX% via limited tender.</small>
							</span>
						</div>
					</div>
					<div class="d-flex col-sm-6 align-items-center">
						<div class="card-body media align-items-center text-dark">
							<i class="lnr lnr-apartment display-4 d-block text-danger"></i>
							<span class="media-body d-block ml-3">
								<span class="text-big"><span class="mr-1 text-danger" id="insight_no_suppliers">{{ contract_data.family['no_suppliers'] }}</span> Suppliers</span>
							<br>
							<small class="text-muted">Provided services in this category to {{ data.agency.display_title }} over the previous two years.</small>
							</span>
						</div>
					</div>
					<div class="d-flex col-sm-6 align-items-center">
						<div class="card-body media align-items-center text-dark">
							<i class="lnr lnr-flag display-4 d-block text-success"></i>
							<span class="media-body d-block ml-3">
								<span class="text-big"><span class="mr-1 text-success"  id="insight_top_supplier">{{ contract_data.family['supplier_data'][0]['name'] }}</span></span>
							<br>
							<small class="text-muted">Is the top supplier in this category.</small>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="col mb-4">
			<!-- Posts -->			
			<div class="card mb-4">

				<div class="card-header with-elements pb-0">
					<h6 class="card-header-title mb-0">Top suppliers in the <span class="insight_category_name">{{ contract_data.family['unspsc']['title'] }} category</span>.</h6> 
				</div>
								

				<div class="card-body">
						<div class="card-subtitle text-muted mb-3">Outer ring shows supplier revenue, inner ring shows number of contracts awarded.</div>
					<div id="chartdiv" class="chartjs-demo" style="height: 400px; position: relative;"></div>
				</div>
			</div>
				
			<div class="card mb-4">
					<div class="card-header with-elements pb-0">
						<h6 class="card-header-title mb-0">Recent contracts in the: <span class="insight_category_name">{{ contract_data.family['unspsc']['title'] }} category</span>. </h6> 
					</div>
					<div class="card-body">
						<div class="card-datatable table-responsive" style="margin-top: -25px">
							<table id="myTable" class="table table-hover card-table">
								<thead style="font-size:small">
								<tr>
									<th>Status</th>
									<th>Title</th>
									<th>Agency</th>
									<th>Division</th>
									<th>Supplier</th>
									<th>Value</th>
									<th>Contract Start</th>
									<th>Contract End</th>                            
								</tr>
								</thead>
								<tbody style="font-size:small">
									{% for contract in contract_data['family'].contracts: %}
									<tr data-year="{{ contract.financial_year }}" data-ongoing="{{ contract.contract_ongoing }}" data-unspsc="{{ contract.unspsc_id }}">
										<td>{% if (contract.contract_ending_soon==True and contract.contract_ongoing==True) %}<div class="badge badge-info">Ending soon</div>{% elif contract.contract_ongoing==True %}<div class="badge badge-success">Ongoing</div>{% else %} <div class="badge badge-danger">Complete</div>{% endif %}</td>
										<td><a href="/contract/{{ contract.id }}">{{ contract.title }}</a></td>
										<td>{{ contract.agency }}</td>
										<td>{% if contract.division!="nan" %}{{ contract.division }}{% endif %}</td>
										<td>{{ contract.supplier_name }}</td>
										<td>${{ contract.contract_value }}</td>
										<td nowrap>{{ contract.contract_start }}</td>
										<td nowrap>{{ contract.contract_end }}</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
	
				</div>

				{{ contract_data['family']['category_nochange'] }}

			<br><br>

			{{ contract_data }}
			
		</div>
	</div>	
	{% else %}
	<div class="row">
		<div class="col mb-4">
			No Data Available for Insights into this Opportunity
		</div>
	</div>

	{% endif %}








		
	<!-- HTML -->

</div>

<!-- [ content ] End -->

{% include "footer.html" %}

<script>
    $(document).ready(function() {
        var table = $('#myTable').DataTable({
            "scrollX": false,
            "order": [
                [6, "desc"]
            ],
		}, );
		
		{% if contract_data.family is defined   %} 
		$("#insight_broad_category_button").click(function() {
			$.fn.dataTable.ext.search.pop();
			var family_ids = {{ contract_data.family['ids'] }};
			$.fn.dataTable.ext.search.push(
				function(settings, data, dataIndex) {
					var temp_value = parseInt($(table.row(dataIndex).node()).attr('data-unspsc'));
					return family_ids.includes(temp_value);
				}
			);
			table.draw();
		});
		{% endif %}
		
		{% if contract_data.class is defined   %} 
		$("#insight_general_category_button").click(function() {
			$.fn.dataTable.ext.search.pop();
			var family_ids = {{ contract_data.class['ids'] }};
			$.fn.dataTable.ext.search.push(
				function(settings, data, dataIndex) {
					var temp_value = parseInt($(table.row(dataIndex).node()).attr('data-unspsc'));
					return family_ids.includes(temp_value);
				}
			);
			table.draw();
		});
		{% endif %}
		
		{% if contract_data.commodity is defined   %} 
		$("#insight_specific_category_button").click(function() {
			$.fn.dataTable.ext.search.pop();
			var family_ids = {{ contract_data.commodity['ids'] }};
			$.fn.dataTable.ext.search.push(
				function(settings, data, dataIndex) {
					var temp_value = parseInt($(table.row(dataIndex).node()).attr('data-unspsc'));
					return family_ids.includes(temp_value);
				}
			);
			table.draw();
		});
		{% endif %}

    });
</script>









<!-- Resources -->
<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>

<!-- Chart code -->
<script>


{% if contract_data.family is defined   %} 
var family_chart_data = {{ contract_data.family['supplier_pie_chart']|safe }};
{% endif %}

{% if contract_data.class is defined   %} 
var class_chart_data = {{ contract_data.class['supplier_pie_chart']|safe }};
{% endif %}

{% if contract_data.commodity is defined   %} 
var commodity_chart_data = {{ contract_data.commodity['supplier_pie_chart']|safe }};
{% endif %}



am4core.ready(function() {

// Themes begin
am4core.useTheme(am4themes_animated);
// Themes end

// Create chart instance
var chart = am4core.create("chartdiv", am4charts.PieChart);

// Let's cut a hole in our Pie chart the size of 40% the radius
chart.innerRadius = am4core.percent(30);

// Add data
chart.data = family_chart_data;


// Add and configure Series
var pieSeries = chart.series.push(new am4charts.PieSeries());
pieSeries.dataFields.value = "no_contracts";
pieSeries.dataFields.category = "name";
pieSeries.slices.template.stroke = am4core.color("#fff");
pieSeries.slices.template.strokeWidth = 2;
pieSeries.slices.template.strokeOpacity = 1;
pieSeries.slices.template.tooltipText = "{category}: {value.value} Contract(s)";

// Add a legend
//chart.legend = new am4charts.Legend();
//chart.legend.position = "right";
//chart.legend.fontSize = 10
//chart.legend.paddingBottom= "0px"
//chart.legend.scale= 0.8

// Disabling labels and ticks on inner circle
pieSeries.labels.template.disabled = true;
pieSeries.ticks.template.disabled = true;


// Disable sliding out of slices
pieSeries.slices.template.states.getKey("hover").properties.shiftRadius = 0;
pieSeries.slices.template.states.getKey("hover").properties.scale = 0.9;

// Add second series
var pieSeries2 = chart.series.push(new am4charts.PieSeries());
pieSeries2.dataFields.value = "earnings";
pieSeries2.dataFields.category = "name";
pieSeries2.slices.template.stroke = am4core.color("#fff");
pieSeries2.slices.template.strokeWidth = 2;
pieSeries2.slices.template.strokeOpacity = 1;
pieSeries2.slices.template.states.getKey("hover").properties.shiftRadius = 0;
pieSeries2.slices.template.states.getKey("hover").properties.scale = 1.1;
pieSeries2.slices.template.tooltipText = "{category}: ${value.value} Total Revenue";
pieSeries2.labels.template.text = "{category}: ${value.value}";



{% if contract_data.family is defined   %} 
$('#insight_broad_category_button').on('click', function() { 
	$('#insight_avg_value').text("${{ contract_data.family['avg_value'] }}");
	$('.insight_category_name').text("{{ contract_data.family['unspsc']['title'] }} category"); 
	$('#insight_avg_contract').text("{{ contract_data.family['avg_contracts_month'] }}"); 
	$('#insight_no_suppliers').text("{{ contract_data.family['no_suppliers'] }}"); 
	$('#insight_top_supplier').text("{{ contract_data.family['supplier_data'][0]['name'] }}"); 
	chart.data = family_chart_data;
	
}); 
{% endif %}

{% if contract_data.class is defined   %} 
$('#insight_general_category_button').on('click', function() { 
	$('#insight_avg_value').text("${{ contract_data.class['avg_value'] }}"); 
	$('.insight_category_name').text("{{ contract_data.family['unspsc']['title'] }} > {{ contract_data.class['unspsc']['title'] }} category"); 
	$('#insight_avg_contract').text("{{ contract_data.class['avg_contracts_month'] }}"); 
	$('#insight_no_suppliers').text("{{ contract_data.class['no_suppliers'] }}"); 
	$('#insight_top_supplier').text("{{ contract_data.class['supplier_data'][0]['name'] }}"); 
	chart.data = class_chart_data;
});
{% endif %}

{% if contract_data.commodity is defined   %} 
$('#insight_specific_category_button').on('click', function() { 
	$('#insight_avg_value').text("${{ contract_data.commodity['avg_value'] }}"); 
	$('.insight_category_name').text("{{ contract_data.family['unspsc']['title'] }} > {{ contract_data.class['unspsc']['title'] }} > {{ contract_data.commodity['unspsc']['title'] }} category"); 
	$('#insight_avg_contract').text("{{ contract_data.commodity['avg_contracts_month'] }}"); 
	$('#insight_no_suppliers').text("{{ contract_data.commodity['no_suppliers'] }}"); 
	$('#insight_top_supplier').text("{{ contract_data.commodity['supplier_data'][0]['name'] }}"); 
	chart.data = commodity_chart_data;
});    
{% endif %}



}); // end am4core.ready()


</script>

