{% include "header_simple.html" %}

<!-- [ content ] Start -->
<div class="authentication-wrapper authentication-1 px-4">
    <div class="authentication-inner py-5">

        <!-- [ Logo ] Start -->
        <div class="d-flex justify-content-center align-items-center">
            <div class="ui-w-100">
                <div class="w-100 position-relative">
                    <img src="{{ url_for('static',filename='img/logo-dark.png') }}" alt="Brand Logo" class="img-fluid">
                </div>
            </div>
        </div>
        <!-- [ Logo ] End -->

        <!-- [ Form ] Start -->

        <form action="" method="post" novalidate class="my-5" id="form1">
            {{ form.hidden_tag() }}

            <div class="form-group">
                <label class="form-label">{{ form.first_name.label }}</label> {{ form.first_name(class_="form-control") }}
                <div class="clearfix">{% for error in form.first_name.errors %}<span class="error_text">{{ error }}</span>{% endfor %}</div>
            </div>
            <div class="form-group">
                <label class="form-label">{{ form.last_name.label }}</label> {{ form.last_name(class_="form-control") }}
                <div class="clearfix">{% for error in form.last_name.errors %}<span class="error_text">{{ error }}</span>{% endfor %}</div>
            </div>
            <div class="form-group">
                <label class="form-label">{{ form.email.label }}</label> {{ form.email(class_="form-control") }}
                <div class="clearfix">{% if data.error!=None %}<span class="error_text">Email already exists</span> {% endif %}{% for error in form.email.errors %}<span class="error_text">{{ error }}</span>{% endfor %}</div>
            </div>
            <div class="form-group">
                <label class="form-label d-flex justify-content-between align-items-end">
					   <span>{{ form.password.label }}</span>
				   </label> {{ form.password(class_="form-control") }}
                <div class="clearfix">{% for error in form.password.errors %}<span class="error_text">{{ error }}</span>{% endfor %}</div>
            </div>
            <div class="d-flex justify-content-between align-items-center m-0">
                <button type="submit" form="form1" value="Submit" class="btn btn-primary btn-block mt-4">Sign Up</button>
            </div>

            <div class="bg-lightest text-muted small p-2 mt-4">
                By clicking "Sign Up", you agree to our
                <a href="javascript:void(0)">terms of service and privacy policy</a>. We’ll occasionally send you account related emails.
            </div>

        </form>
        <!-- [ Form ] End -->

        <div class="text-center text-muted">
            Already have an account?
            <a href="/login">Login</a>
        </div>




    </div>
</div>
<!-- [ content ] End -->

{% include "footer_simple.html" %}